@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Spectral', serif;
	color: #550000;
}

/* custom */
h1, h2 {
	display:block;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.invert {
	background: linear-gradient(to right, #801515, #aa3939);
}

footer div {
	font-size:1em;
	margin-bottom:1.5em;
	padding-left:5em;
	padding-right:5em;
}

footer div h2 {
	font-size:1.5em;
	font-weight:bold;
	padding-top:0.5em;
	margin-bottom:0.5em;
	/*text-shadow: 1px 1px 0px rgba(255, 170, 170, 1);*/
}

footer div p {
	font-size:1em;
	margin-bottom:0.5em;
	color:#fff;
}

footer div p a, footer div p a:visited {
	color:#fff;
}

header div h1 {
	font-size:3em;
	font-weight:bold;
	/*text-shadow: 2px 2px 0px rgba(255, 170, 170, 1);*/
}

header div {
	font-size:1em;
	padding-top:2em;
	padding-left:5em;
	padding-bottom:2em;
}

section {
	padding-left:5em;
	padding-right:5em;
	background-color:white;
	border-top:1px gray solid;
	border-bottom: 1px gray solid;
}

section table {
	padding-top:1em;
	padding-bottom:1em;
	width:100%;

}

section table th, section table td {
	line-height: 1.5em;
}

section table th {
	text-align:left;
	font-style: italic;
	background-color: #801515;
	color:#fff;
}

section table th, section table td, section table th a, section table td a {
	font-family: 'Roboto', sans-serif;
}

section table tr:hover {
	background:#ffaaaa !important;
}

section table tr:nth-child(odd) {
    background-color: #f2f2f2
}